.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 400px;
}

.description {
  margin: 0 0 16px;
}

mat-button-toggle-group {
  display: flex;

  mat-button-toggle {
    flex: 1;
  }
}
